@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 50px;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.demo-link {
  
  color: white; /* White text color */
  text-decoration: none; /* Remove underline from links */
  padding: 10px 20px; /* Padding inside the link boxes */
  border-radius: 5px; /* Rounded corners for the link boxes */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

h1 {
  margin-bottom: 10%;
}

/* Example styles for header and footer */
header, footer {
  padding: 20px;
  text-align: center;
  background-color: #282121;
}

footer {
  margin-top: auto;
}

/* Additional styling for the ToneGenerator component for better alignment */
.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input[type="range"] {
  margin: 10px;
}